[submodule "jacobpzinn-web/jacobpzinn-web/lab1/lab-1-photography-website-Jacob-Zinn"]
	path = jacobpzinn-web/jacobpzinn-web/lab1/lab-1-photography-website-Jacob-Zinn
	url = https://github.com/BYUCS260/lab-1-photography-website-Jacob-Zinn.git
