* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    background-color: rgb(43, 43, 43, .3);
    height: 6px;
    width: 100%;
}

.menu {
    background-color: #5995DA;
    height: 80px;
    background-color: rgb(43, 43, 43);
    justify-content: space-around;
}

.menu a {
    color: white;
}

.menu-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item:hover {
    background-color: rgb(256, 256, 256, .3);
}

.hero-container {
    position: relative;
    height: 285px;
    width: 100%;
}

.video {
    position: absolute;
    height: 100%;
    width: 100%;
}

.video:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
    display: block;
    content: "";
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.intro {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    height: 400px;
    align-items: flex-start;
}

.intro p {
    padding: 20px 0 0 0;
}

#headshot {
    width: 100%;
    height: 100%;
}

#headshot img {
    margin: 0 40px 40px 40px;
    object-fit: cover;
    overflow: hidden;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    padding: 0 40px;
}

#color-1,
#color-3 {
    background-color: thistle;
}

#color-1:hover,
#color-3:hover {
    background-color: darkolivegreen;
}

#color-2 {
    background-color: burlywood;
}

#color-2:hover {
    background-color: darkolivegreen;
}

footer {
    background-color: darkgray;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 40px;
}

footer img {
    width: 100px;
}


/* Mobile Styles */

@media only screen and (max-width: 400px) {
    .project {
        height: 200px;
    }
}


/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {}


/* Desktop Styles */

@media only screen and (min-width: 961px) {
    .hero-container {
        height: 600px;
    }
    .intro {
        width: 70%;
        padding: 40px;
    }
    #headshot {
        width: 30%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    #headshot img {
        margin: 0;
        padding: 30px 30px;
        object-fit: fill;
    }
    .title {
        font-size: 2em;
    }
    .project {
        width: 33.3333%;
    }
    footer {
        width: 100%;
    }
}